---
title: Locations
position: 3
nav:
  id: locations
  site:
    highlight: locations
map: true
---

<div class="mapbox-map m-y-2"></div>
<script>
  var map = L.mapbox.map($(".mapbox-map").get(0), 'wayfare.18b0d2ll', {
    scrollWheelZoom: false,
    closePopupOnClick: false
  });
  map.featureLayer.on('ready', function(e) {
    map.featureLayer.on('click', function(e) {
      map.panTo(e.layer.getLatLng());
    });
  });
</script>

<div class="row m-y-2">
  {% for location in site.data.locations %}
    <div class="col-xs">
      <h2 class="m-b-1">
        {% if location.status == 'open' %}
          <a href="/locations/{{ location.id }}">{{ location.name }}</a>
        {% else %}
          {{ location.name }}
        {% endif %}
      </h2>
      <address>
        {{ location.address.street1 }}{% if location.address.street2 %}, {{ location.address.street2 }}{% endif %}<br>
        {{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}
      </address>
      {% if location.status == 'open' %}
        <a href="/locations/{{ location.id }}" class="btn btn-primary">Learn more</a>
      {% else %}
        <button type="button" name="button" class="btn btn-primary" disabled>Coming soon</button>
      {% endif %}
    </div>
  {% endfor %}
</div>
