---
title: Membership
position: 2
description: Connect, learn, and grow  alongside a like-minded community of difference-makers,
  attend learning events, workshops, and meet &amp; greet taco lunches, gain access
  to beautiful workspaces when and where you need them, and enjoy endless perks that
  benefit your life and work.
keywords: membership, community, flexible, workspace, networking, events, social enterprise,
  social entrepreneurs, perks
lead:
  line1: JOIN A GLOBAL COMMUNITY
  line2: of **WORLD CHANGERS**
  content: Become a member by joining a workspace or startup program today! All members
    receive access to a like-minded community of difference makers, access to learning
    forums, and tools and inspiration that benefit your work and life.
  buttons:
  - url: https://wayfare.typeform.com/to/gZ6TKU
    title: Sign Up and <strong>Become a Member</strong>
  text-links:
  - url: https://wayfare.typeform.com/to/vn3h2H
    title: Ask us your questions
nav:
  id: membership
  site:
    highlight: membership
---

<div class="card-deck justify-content-center">
  <div class="card mb-4 col-12 col-md-6 col-lg-5 col-xl-4">
    <div class="card-block text-center px-0">
      {% include icon.html name="computer-desk" classes="icon-xl icon-block icon-center mb-3" %}
      <h4><strong>WORKSPACES</strong></h4>
      <p>Work flexibly or settle into one of our private offices. Our beautifully designed workspaces were made for difference-makers like you.</p>
      <a href="/locations" class="btn btn-primary btn-md">Find a workspace</a>
    </div>
  </div>
  <div class="card mb-4 col-12 col-md-6 col-lg-5 col-xl-4">
    <div class="card-block text-center px-0">
      {% include icon.html name="science-lightbulb" classes="icon-xl icon-block icon-center mb-3" %}
      <h4><strong>STARTUP PROGRAMS</strong></h4>
      <p>Put your good ideas to action, launch your organization, and grow into sustainable impact in our startup programs.</p>
      <a href="/startups" class="btn btn-primary btn-md">Join a startup program</a>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h2 class="display text-center"><strong>ALL MEMBERS</strong> RECEIVE:</h2>
  </div>
</div>
<div class="card-deck">
  <div class="card mb-4">
    <img {{ "/assets/images/membership-connect.jpg" | image_src }} alt="Connect and share" class="{{ 'card-img-top img-fluid' | image_class }}"  data-width="400" data-height="400" data-crop="fit">
    <div class="card-block">
      <h3 class="card-title"><strong>Connect &amp; Share</strong> Your Journey with Like-minded People</h3>
      <p class="card-text">Access to our member directory and Slack channel to collaborate, network, encourage, &amp; share insight</p>
      <p class="card-text">Access to locally curated Wayfare member events</p>
      <a href="/membership/connect-and-share" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card mb-4">
    <img {{ "/assets/images/membership-workspace.jpg" | image_src }} alt="Access to workspaces" class="{{ 'card-img-top img-fluid' | image_class }}"  data-width="400" data-height="400" data-crop="fit">
    <div class="card-block">
      <h3 class="card-title"><strong>Access to Workspaces</strong> When and Where You Need Them</h3>
      <p class="card-text">Pay as you go at low hourly rates at any Wayfare location</p>
      <a href="/membership/access-to-workspaces" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card mb-4">
    <img {{ "/assets/images/membership-savings.jpg" | image_src }} alt="Major perks" class="{{ 'card-img-top img-fluid' | image_class }}"  data-width="400" data-height="400" data-crop="fit">
    <div class="card-block">
      <h3 class="card-title"><strong>Major perks</strong> on the Brands, Products and Places You Love</h3>
      <p class="card-text">Receive exclusive access to our global perks &amp; discounts network</p>
      <p class="card-text">Gain new customers &amp; increase traffic to your site by offering your own perk or discount</p>
      <a href="/membership/major-perks" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card mb-4">
    <img {{ "/assets/images/membership-learning.jpg" | image_src }} alt="Learn from others" class="{{ 'card-img-top img-fluid' | image_class }}"  data-width="400" data-height="400" data-crop="fit">
    <div class="card-block">
      <h3 class="card-title"><strong>Learn from Others</strong> that Have Traveled the Same Path</h3>
      <p class="card-text">Learn from social good pioneers every month at our monthly learning forum</p>
      <a href="/membership/learn-from-others" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
<!-- div class="card-deck">
  <div class="card mb-4">
    <img {{ "/assets/images/membership-challenge.jpg" | image_src }} alt="Be challenged and inspired" class="{{ 'card-img-top img-fluid' | image_class }}"  data-width="400" data-height="400" data-crop="fit">
    <div class="card-block">
      <h3 class="card-title">Be Challenged and Inspired</h3>
      <p class="card-text">Receive relevant weekly news and reading lists</p>
      <a href="/membership/be-challenged-and-inspired" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div -->
<div class="row my-5">
  <div class="col">
    <h3 class="pb-3 text-center">More Membership Information</h3>
    <a href="/membership/faq" class="btn btn-primary btn-lg text-uppercase col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">Membership <strong>FAQ</strong></a>
  </div>
</div>
