---
title: Membership
position: 2
description: Connect, learn, and grow  alongside a likeminded community of difference-makers, attend learning events, workshops, and meet &amp; greet taco lunches, gain access to beautiful workspaces when and where you need them, and enjoy endless perks that benefit your life and work.
keywords: membership, community, flexible, workspace, networking, events, social enterprise,
  social entrepreneurs, perks
lead:
  line1: JOIN A GLOBAL COMMUNITY
  line2: of **WORLD CHANGERS**
  content: Connect, learn, and grow  alongside a likeminded community of difference-makers, attend learning events, workshops, and meet &amp; greet taco lunches, gain access to beautiful workspaces when and where you need them, and enjoy endless perks that benefit your life and work.
  buttons:
  - url: https://wayfare.typeform.com/to/o0hvwe
    title: Become a Member for $47/month
nav:
  id: membership
  site:
    highlight: membership
---

<div class="row m-t-2">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <h2 class="display text-xs-center">HOW MEMBERSHIP WORKS</h2>
    <p class="text-xs-center">Whether you’d like to add a coworking plan at one of our locations, connect with our community from afar, or join a startup program for social enterprise founders, <strong>everything starts with membership</strong>. Wayfare membership allows you to join our network and grow from wherever you are in whatever ways you need.</p>
  </div>
</div>
<div class="card-deck m-y-1">
  <div class="card col-xs-12 col-sm-10 col-md-8 col-lg-7 m-x-auto">
    <div class="card-block text-xs-center">
      {% include icon.html name="network-world" classes="icon-xl icon-block icon-center m-b-1" %}
      <h3 class="card-title">BECOME A WAYFARER</h3>
      <p class="card-text">
        Join the Wayfare community, work flexibly, attend member events and recieve endless perks!
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {% include icon.html name="arrow" classes="icon-xl icon-block icon-center col-xs-12 p-b-1" %}
    <h3 class="text-xs-center">OPTIONAL ADD-ONS</h3>
  </div>
</div>
<div class="card-deck flex-items-xs-center">
  <div class="card col-xs-12 col-md-6 col-lg-5 col-xl-4">
    <div class="card-block text-xs-center p-x-0">
      {% include icon.html name="computer-desk" classes="icon-xl icon-block icon-center m-b-1" %}
      <p class="card-text">Need a workspace?</p>
      <h4><strong>ADD A COWORKING PLAN</strong></h4>
    </div>
  </div>
  <div class="card col-xs-12 col-md-6 col-lg-5 col-xl-4">
    <div class="card-block text-xs-center p-x-0">
      {% include icon.html name="science-lightbulb" classes="icon-xl icon-block icon-center m-b-1" %}
      <p class="card-text">Need startup support?</p>
      <h4><strong>JOIN A STARTUP PROGRAM</strong></h4>
    </div>
  </div>
</div>
<div class="row m-t-2 m-b-3">
  <div class="col-xs text-xs-center">
    <a href="https://wayfare.typeform.com/to/o0hvwe" class="btn btn-primary btn-lg">Become a Member for $47/month</a>
  </div>
</div>
<div class="row m-t-3">
  <div class="col-xs-12">
    <h2 class="display text-xs-center"><strong>MEMBERSHIP</strong> INCLUDES:</h2>
  </div>
</div>
<div class="card-left-features">
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-connect.jpg" alt="Connect and share">
    </div>
    <div class="card-block">
      <h3 class="card-title"><strong>Connect &amp; Share</strong> Your Journey with Like-minded People</h3>
      <p class="card-text">Access to our member directory and Slack channel to collaborate, network, encourage, &amp; share insight</p>
      <p class="card-text">Access to locally curated Wayfare member events</p>
      <a href="/membership/connect-and-share" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-workspace.jpg" alt="Access to workspaces">
    </div>
    <div class="card-block">
      <h3 class="card-title"><strong>Access to Workspaces</strong> When and Where You Need It</h3>
      <p class="card-text">Access to pay as you go at low hourly rates at any Wayfare location</p>
      <p class="card-text">Receive $15 of Wayfare credit every month to use towards coworking and meeting rooms</p>
      <a href="/membership/access-to-workspaces" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-gifts.jpg" alt="Gifts curated every month">
    </div>
    <div class="card-block">
      <h3 class="card-title"><strong>Gifts Curated Every Month</strong>, Just For You</h3>
      <p class="card-text">Receive valuable virtual resources delivered right to your inbox</p>
      <p class="card-text">Receive quarterly loyalty gifts delivered straight to your doorstep (yep, real snail mail)</p>
      <a href="/membership/gifts-every-month" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-savings.jpg" alt="Big savings">
    </div>
    <div class="card-block">
      <h3 class="card-title"><strong>Big Savings</strong> on the Brands, Products, and Places You Love</h3>
      <p class="card-text">Receive exclusive access to our global perks &amp; discounts network</p>
      <p class="card-text">Gain new customers &amp; increase traffic to your site by offering your own perk or discount</p>
      <a href="/membership/big-savings" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-learning.jpg" alt="Learn from others">
    </div>
    <div class="card-block">
      <h3 class="card-title"><strong>Learn from Others</strong> that Have Traveled the Same Path</h3>
      <p class="card-text">Learn from social good pioneers every monthly at our learning forum</p>
      <a href="/membership/learn-from-others" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card card-left-feature">
    <div class="card-left-feature-img">
      <img src="/assets/images/membership-challenge.jpg" alt="Be challenged and inspired">
    </div>
    <div class="card-block">
      <h3 class="card-title">Be Challenged and Inspired</h3>
      <p class="card-text">Receive relevant weekly news and reading lists</p>
      <a href="/membership/be-challenged-and-inspired" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
<div class="row m-t-3">
  <div class="col-xs text-xs-center">
    <a href="https://wayfare.typeform.com/to/o0hvwe" class="btn btn-primary btn-lg">Become a Member for $47/month</a>
  </div>
</div>
<div class="row m-t-2">
  <div class="col-xs-12">
    <h2>Membership FAQ</h2>
    <div class="faq-list">
      <div class="faq-item">
        <h5 class="faq-question"><a class="collapsed" data-toggle="collapse" href="#faq1" aria-expanded="false" aria-controls="faq1">Is Wayfare membership month to month?</a></h5>
        <div id="faq1" class="faq-answer collapse">
          <p>Yep! Our membership and coworking packages are all month-to-month. No commitments are necessary, and no cancellation notice is necessary. Read more on our <a href="https://guide.books.wayfare.io/" >guidebook</a>.</p>
        </div>
      </div>
      <div class="faq-item">
        <h5 class="faq-question"><a class="collapsed" data-toggle="collapse" href="#faq2" aria-expanded="false" aria-controls="faq2">I just need workspace and/or meeting rooms. Do I need to be a member to work at a Wayfare workspace?</a></h5>
        <div id="faq2" class="faq-answer collapse">
          <p>No, you do not need to be a member to work at Wayfare, but membership allows more flexibility at more affordable rates to work at any of our spaces.</p>
          <p>Members receive access to the lowest pay-as-you-go coworking rates, discounts on meeting rooms, and $15 of monthly credit to use on coworking or meeting rooms.</p>
          <p>Rates vary by location. To view yours, visit your location's rates page.</p>
        </div>
      </div>
      <div class="faq-item">
        <h5 class="faq-question"><a class="collapsed" data-toggle="collapse" href="#faq3" aria-expanded="false" aria-controls="faq3">I don't need workspace. What's in it for me?</a></h5>
        <div id="faq3" class="faq-answer collapse">
          <p>If you live in Southern California, you'll have access to come to our frequent member events (like monthly Forum and taco parties) and get involved with the community. You'll also be able to work flexibly at any Wayfare location.</p>
          <p>If you don't live in Southern California, stay tuned. We've got something exciting coming your way soon!</p>
        </div>
      </div>
      <div class="faq-item">
        <h5 class="faq-question"><a class="collapsed" data-toggle="collapse" href="#faq4" aria-expanded="false" aria-controls="faq4">What kind of events do you host for members?</a></h5>
        <div id="faq4" class="faq-answer collapse">
          <p>In addition to monthly Forum events, we throw occasional member events like holiday parties, community dinners, and more! We also offer generous discounts to any workshops or conferences that are hosted at Wayfare locations.</p>
        </div>
      </div>
      <div class="faq-item">
        <h5 class="faq-question"><a class="collapsed" data-toggle="collapse" href="#faq5" aria-expanded="false" aria-controls="faq5">Can I give this membership to someone as a gift?</a></h5>
        <div id="faq5" class="faq-answer collapse">
          <p>That's super cool of you, and we think you just scored some major brownie points with Uncle Joe. Please contact us to purchase.</p>
        </div>
      </div>
    </div>
  </div>
</div>
