---
layout: page
---

<h2>{{ page.title }}</h2>
{{ content }}

<div class="space-features">
  {% for feature in page.features %}
    {% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
    {% if modulo == '0' or forloop.first %}
      <div class="card-deck">
    {% endif %}
    <div class="card mb-4">
      <img {{ feature.image | image_src }} alt="{{ feature.title }}" class="{{ 'card-img-top img-fluid' | image_class }}" data-width="400" data-height="400" data-crop="fit">
      <div class="card-block">
        <h3 class="card-title">{{ feature.title | markdownify | remove:'<p>' | remove:'</p>' }}</h3>
        <p class="card-text">
          {{ feature.text | markdownify | remove:'<p>' | remove:'</p>' }}
        </p>
      </div>
    </div>
    {% if modulo == '1' or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="row my-2">
  <div class="col">
    <a href="{{ page.tour-url }}" class="btn btn-primary btn-lg col col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-uppercase">Schedule a <strong>Tour</strong></a>
  </div>
</div>
