---
layout: page
---

<div class="container">
  <div class="row">
    <div class="col-12 mb-5 p-x-0">
      <img class="img-fluid rounded" src="{{ page.image }}" alt="Our Community" data-rjs="2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>
  <div class="row py-5">
    {% for cta in page.cta %}
      <div class="col-12 col-sm-12 col-md-12 col-lg mb-3 text-center">
        <a href="{{ cta.url }}" class="btn btn-primary btn-lg btn-block text-uppercase">{{ cta.title | markdownify | remove:'<p>' | remove:'</p>' }}</a>
      </div>
    {% endfor %}
  </div>
  <div class="row my-4">
    <div class="col-12">
      <h2 class="script text-center text-lowercase display-4">{{ page.community.title }}</h2>
      <div class="card-deck card-deck-circles">
        {% for person in page.community.people %}
          <div class="card card-borderless text-center">
            <img class="rounded-circle img-fluid p-3 mx-auto" src="{{ person.image }}" alt="{{ person.first_name}} {{ person.last_name}}" data-rjs="2">
            <div class="card-block">
              <h4 class="card-title">{{ person.first_name}} {{ person.last_name }}</h4>
              <h5 class="card-subtitle">{{ person.title }}<br>{{ person.company }}</h5>
              <a class="btn btn-primary text-uppercase my-3" href="{{ person.url }}">
                Read <span class="hidden-md-down">{{ person.first_name }}'s</span> Story
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
