---
layout: page
---

<div class="row">
  <div class="col-xs-12">
    <div class="card-deck">
      {% for location in site.data.locations %}
        <div class="card card-inverse card-inverse-button">
          <a href="/locations/{{ location.id }}/upcoming-events" class="_no-underline d-block">
            <img src="/assets/images/location-{{ location.id }}.jpg" alt="{{ location.name }}" class="card-img img-fluid">
            <div class="card-img-overlay flex-items-xs-middle flex-items-xs-center">
              <div class="card-block text-xs-center">
                <h4 class="card-title">{{ location.name }}</h4>
                <h5 class="card-subtitle">{{ location.address.full_state }}</h5>
              </div>
            </div>
          </a>
          <a href="/locations/{{ location.id }}/upcoming-events" class="btn btn-primary btn-lg btn-block text-uppercase">Upcoming Events</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
