---
layout: page
---

<div class="row">
  <div class="col-12">
    <div class="text-center text-sm-left">
      {{ content }}
    </div>

    <div class="row pt-4 pb-3">
      <div class="col-12 pb-3">
        <h5 class="text-center text-sm-left">More questions answered about:</h5>
      </div>
      <div class="col-md-6 pb-3">
        <a href="/faq/membership" class="btn btn-primary btn-lg btn-block">Membership</a>
      </div>
      <div class="col-md-6 pb-3">
        <a href="/faq/coworking" class="btn btn-primary btn-lg btn-block">Coworking</a>
      </div>
      <div class="col-md-6 pb-3">
        <a href="/faq/startups" class="btn btn-primary btn-lg btn-block">Startup Programs</a>
      </div>
      <div class="col-md-6 pb-3">
        <a href="/faq/events" class="btn btn-primary btn-lg btn-block">Events</a>
      </div>
    </div>

  </div>
</div>
