---
layout: site
---

<div class="container">
  <div class="row mb-5">
    <div class="col-12 px-1">
      <div class="card card-inverse card-hero card-event-hero">
        <img class="card-img img-fluid" src="{{ page.hero.image }}">
        <div class="card-img-overlay">
          <div class="card-block">
            <h4 class="card-title">{{ page.hero.title }}</h4>
            <div class="row justify-content-center pt-3">
              <div class="shout-marks-left"></div>
              <h5 class="card-subtitle my-auto pt-0">{{ page.hero.subtitle | lowercase }}</h5>
              <div class="shout-marks-right"></div>
            </div>
            {% for button in page.hero.buttons %}
              <a href="{{ button.url }}" class="btn btn-primary">{{ button.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
