---
layout: site
---

<div class="container">
  <div class="row mb-5">
    <div class="col-12 px-1">
      <div class="card card-inverse card-hero card-event-hero">
        <img class="card-img img-fluid" src="{{ page.hero.image }}">
        <div class="card-img-overlay">
          <div class="card-block">
            <h1 class="h4 card-title">{{ page.hero.title }}</h1>
            <div class="row justify-content-center pt-2">
              <div class="shout-marks-left"></div>
              <h2 class="h5 card-subtitle my-auto pt-0">{{ page.hero.subtitle | lowercase }}</h2>
              <div class="shout-marks-right"></div>
            </div>
            <h3 class="card-date">{{ page.hero.date }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row playfair-display lead justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h4 class="h3">One party, two locations.</h4>
      {{ content }}
    </div>
  </div>
  <div class="row justify-content-center my-4 px-0">
    {% for location in page.locations %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-5 py-2">
        <a href="{{ location.url }}" class="_no-underline">
          <img src="{{ location.image }}" data-rjs="2" class="img-fluid pb-3">
          <div class="btn btn-primary btn-block col-12 col-lg-8 offset-lg-2 text-uppercase">
            RSVP to <strong>{{ location.location }}</strong>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
