---
layout: page
---

<div class="row mb-2">
  {% for location in site.locations %}
  <div class="col-xs-12 col-sm-6 p-2">
    <div class="tile-inverse-btn">
      <a href="/workspaces/{{ location.slug }}" class="_no-underline">
        <img src="/assets/images/location-{{ location.slug }}.jpg" alt="{{ location.title }}" class="img-fluid">
        <div class="tile-content text-center">
          <h4 class="card-title">{{ location.title | replace: " ", "&nbsp;" }}</h4>
          <h5 class="card-subtitle">{{ location.address.full_state }}</h5>
        </div>
      </a>
    </div>
    <div class="row tile-footer">
      <div class="col col-lg-6 pr-lg-0">
        <a href="/workspaces/{{ location.slug }}/price-plans" class="d-flex justify-content-around btn btn-primary btn-lg btn-block text-uppercase">View Price Plans</a>
      </div>
      <div class="col col-lg-6 pl-lg-0">
        <a href="https://calendly.com/wayfarehq/{{ location.slug }}-tour/" class="d-flex justify-content-around btn btn-primary btn-lg btn-block text-uppercase">Schedule a Tour</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row py-4 justify-content-center">
  {% for location in site.locations %}
    <div class="col-12 col-md-7">
      <div class="card card-left-icon mb-4">
        <div class="d-flex flex-row">
          <div class="left-icon d-inline-flex">
            {% include icon.html name="location-circle" classes="icon-xxl" %}
          </div>
          <div>
            <h2 class="card-title display-4 script text-lowercase mb-0">{{ location.title }}</h2>
            <p class="card-text">
              {{ location.address.full_address }}<br/>
              <strong>Community Manager:</strong> {{ location.contact.community-manager }}
            </p>
            <a href="https://wayfare.typeform.com/to/vn3h2H" class="btn btn-primary">Send Us a <strong>Message</strong></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-12 mt-3 mb-4 mx-0 px-2">
    <div class="mapbox-map"></div>
  </div>
</div>

<script>
  var map = L.mapbox.map($(".mapbox-map").get(0), 'wayfare.18b0d2ll', {
    scrollWheelZoom: false,
    closePopupOnClick: false
  });
  map.featureLayer.on('ready', function(e) {
    map.featureLayer.on('click', function(e) {
      map.panTo(e.layer.getLatLng());
    });
  });
</script>


{{ content }}
