<footer class="page site-nav-push footer-site">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 p-y-1">
        <h6>Members</h6>
        <ul class="nav">
          <li class="nav-item">
            <a href="http://members.wayfare.io/" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a href="http://guide.books.wayfare.io" class="nav-link">Guidebook</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 p-y-1">
        <h6>Get Involved</h6>
        <ul class="nav">
          <li class="nav-item">
            <a href="/internships" class="nav-link">Internships</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 p-y-1">
        <h6>More Goodness</h6>
        <ul class="nav">
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/locations/costa-mesa/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 p-y-1">
        <h6>We're Social</h6>
        <ul class="list-inline social-btn-block">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/WayfareHQ/" target="_blank" class="social social-btn"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/wayfarehq/" target="_blank" class="social social-btn"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/wayfarehq" target="_blank" class="social social-btn"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/wayfare-hq" target="_blank" class="social social-btn"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 p-b-1">
        &copy; 2015-{{ site.time | date: '%Y' }} {{ site.title }}&trade;
      </div>
    </div>
  </div>
</footer>
