<footer class="page site-nav-push footer-site">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <h6>Members</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="http://members.fldwrk.io/" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a href="http://guide.books.fldwrk.io" class="nav-link">Guidebook</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <h6>Get Involved</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/internships" class="nav-link">Internships</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <h6>More Goodness</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <h6>We're Social</h6>
        {% include list-social.html style="list-social-buttons" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 pb-3">
        &copy; 2015-{{ site.time | date: '%Y' }} {{ site.title }}&trade;
      </div>
    </div>
  </div>
</footer>
