<ul class="list-social {{ include.style }}">
  <li class="list-social-item">
    <a href="https://www.facebook.com/WayfareHQ/" class="list-social-link" target="_blank">
      {% include icon.html name="social-facebook" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://www.instagram.com/wayfarehq/" class="list-social-link" target="_blank">
      {% include icon.html name="social-instagram" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://twitter.com/wayfarehq" class="list-social-link" target="_blank">
      {% include icon.html name="social-twitter" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
  <li class="list-social-item">
    <a href="https://www.linkedin.com/company/wayfare-hq" class="list-social-link" target="_blank">
      {% include icon.html name="social-linkedin" classes="icon icon-xs list-social-icon" %}
    </a>
  </li>
</ul>
