<nav class="navbar navbar-light nav-site" role="navigation">
  <a class="navbar-brand _no-underline" href="{{page.logo_link | default:'/'}}">
    <img src="/assets/images/wayfare-logo.svg" alt="{{ site.title }}">
  </a>
  <div class="social-block pull-sm-right hidden-sm-down">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/WayfareHQ/" target="_blank">
          {% include icon.html name="social-facebook" classes="icon icon-xs social social-link" %}
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/wayfarehq/" target="_blank">
          {% include icon.html name="social-instagram" classes="icon icon-xs social social-link" %}
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/wayfarehq" target="_blank">
          {% include icon.html name="social-twitter" classes="icon icon-xs social social-link" %}
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/wayfare-hq" target="_blank">
          {% include icon.html name="social-linkedin" classes="icon icon-xs social social-link" %}
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav pull-sm-right m-r-1">
    {% for site_page in site.data.nav-site %}
      <li class="nav-item{% if site_page.id == page.nav.site.highlight %} active{% endif %}">
        <a href="{{ site_page.url | prepend: site.baseurl }}" class="nav-link">
          {{ site_page.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <button type="button" class="navbar-toggler hidden-md-up pull-right">
    <small>MENU</small> &#9776;
  </button>
</nav>
