<nav class="nav-side collapsed" role="navigation">
  <ul class="nav flex-column">
    {% for side_page in site.data.nav-side[page.nav.side.id] %}
      <li class="nav-item{% if side_page.id == page.nav.side.highlight %} active{% endif %}">
        {% if side_page.url %}
          <a href="{{ side_page.url | prepend: site.baseurl }}" class="nav-link{% if side_page.id == page.nav.side.highlight %} active{% endif %}">
            {{ side_page.title }}
          </a>
        {% else %}
          {{ side_page.title | upcase }}
        {% endif %}
      </li>
    {% endfor %}
    {% if page.nav.side.categories %}
      {% include nav-categories.html %}
    {% endif %}
  </ul>
  <button type="button" class="btn btn-link nav-side-toggler">&#x25be;</button>
</nav>
