<nav class="nav-site navbar navbar-light" role="navigation">
  <a class="navbar-brand _no-underline" href="{{page.logo_link | default:'/'}}">
    <img src="/assets/images/wayfare-logo.png" alt="{{ site.title }}">
  </a>
  <ul class="nav navbar-nav">
    {% for site_page in site.data.nav-site %}
      <li class="nav-item{% if site_page.id == page.nav.site.highlight %} active{% endif %}">
        <a href="{{ site_page.url | prepend: site.baseurl }}" class="nav-link">
          {{ site_page.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <button type="button" class="navbar-toggler hidden-md-up pull-right">
    &#9776;
  </button>
</nav>
