<nav class="nav nav-mobile" role="navigation">
  <a href="/" class="text-xs-center">
    <img src="/assets/images/wayfare-logo.png" alt="{{ site.title }}" class="nav-mobile-logo">
  </a>
  <ul class="list-unstyled">
    <li class="nav-item">
      <a href="/" class="nav-link">HOME</a>
    </li>
    {% for site_page in site.data.nav-site %}
      <li class="nav-item{% if site_page.id == page.nav.site.highlight %} active{% endif %}">
        <a href="{{ site_page.url | prepend: site.baseurl }}" class="nav-link">
          {{ site_page.title | upcase }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
