<nav class="navbar navbar-light nav-site" role="navigation">
  <a class="navbar-brand _no-underline" href="{{page.logo_link | default:'/'}}">
    <img src="/assets/images/wayfare-logo.svg" alt="{{ site.title }}">
  </a>
  {% include list-social.html %}
  <ul class="nav navbar-nav pull-sm-right m-r-1">
    {% for site_page in site.data.nav-site %}
      <li class="nav-item{% if site_page.id == page.nav.site.highlight %} active{% endif %}">
        <a href="{{ site_page.url | prepend: site.baseurl }}" class="nav-link">
          {{ site_page.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <button type="button" class="navbar-toggler hidden-md-up pull-right">
    <small>MENU</small> &#9776;
  </button>
</nav>
