<nav class="nav nav-mobile" role="navigation">
  <a href="/" class="m-x-auto">
    <img src="/assets/images/wayfare-logo.svg" alt="{{ site.title }}" class="nav-mobile-logo m-x-auto">
  </a>
  <ul class="list-unstyled">
    {% for site_page in site.data.nav-site %}
      <li class="nav-item{% if site_page.id == page.nav.site.highlight %} active{% endif %}">
        <a href="{{ site_page.url | prepend: site.baseurl }}" class="nav-link">
          {{ site_page.title | upcase }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="list-inline nav-mobile-social">
    <li class="list-inline-item">
      <a href="https://www.facebook.com/WayfareHQ/" target="_blank" class="social social-link-primary"><i class="fa fa-facebook fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/wayfarehq/" target="_blank" class="social social-link-primary"><i class="fa fa-instagram fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com/wayfarehq" target="_blank" class="social social-link-primary"><i class="fa fa-twitter fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/company/wayfare-hq" target="_blank" class="social social-link-primary"><i class="fa fa-linkedin fa-lg"></i></a>
    </li>
  </ul>
</nav>
