<div class="card card-inverse card-hero mb-4">
  <img class="card-img img-fluid" src="{{ page.hero.image }}">
  <div class="card-img-overlay align-items-center justify-content-center">
    <div class="card-block">
      <h4 class="card-title">{{ page.hero.title }}</h4>
      <h5 class="card-subtitle">{{ page.hero.subtitle }}</h5>
      {% for button in page.hero.buttons %}
        <a href="{{ button.url }}" class="btn btn-primary">{{ button.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
