---
title: Our Team
position: 3
redirect_from: "/about/our-staff"
nav:
  id: our-team
  site:
    highlight: about
  side:
    id: about
    highlight: our-team
founders:
- Brandon Arbini
- Jeff Tanner
team:
- Marc Fernandez
- Jill Arbini
- Caitlin Kraina
- Elisha Avne
- Kalee Vandegrift
- Allie Fleming
---

<div class="row">
  <div class="col-xs-12">
    <h2 class="underline m-b-2">Our Founders</h2>
    {% for founder in page.founders %}
      {% for staff in site.team_members %}
        {% if founder == staff.title %}
          <div class="row p-b-2">
            <div class="col-xs-12 col-md-4 col-lg-4 p-b-1 flex-items-xs-center">
              <img class="img-circle img-fluid" src="{{ staff.bio_image }}" alt="{{ staff.title }}: {{ staff.job_title }}" data-rjs="2">
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
              <h4>{{ staff.title }}</h4>
              <h5>{{ staff.job_title }} <em>&#43; {{ staff.fun_title }}</em></h5>
              {{ staff.content }}
            </div>
          </div>
          {% continue %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="underline m-b-2">Our Team</h2>
    {% for team in page.team %}
      {% for staff in site.team_members %}
        {% if team == staff.title %}
          <div class="row p-b-2">
            <div class="col-xs-12 col-md-4 col-lg-4 p-b-1 flex-items-xs-center">
              {% if staff.bio_image %}
                <img class="img-circle img-fluid" src="{{ staff.bio_image }}" alt="{{ staff.title }}: {{ staff.job_title }}" data-rjs="2">
              {% else %}
                <img class="img-circle img-fluid" src="/assets/images/person.png" alt="{{ staff.title }}: {{ staff.job_title }}" data-rjs="2">
              {% endif %}
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
              <h4>{{ staff.title }}</h4>
              <h5>{{ staff.job_title }}{% if staff.fun_title %} <em>&#43; {{ staff.fun_title }}</em>{% endif %}</h5>
              {{ staff.content }}
            </div>
          </div>
          {% continue %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div class="row m-y-3">
  <div class="col-xs text-xs-center">
    <h3 class="p-b-1">Get to know the team at our different spaces</h3>
    {% for location in site.data.locations %}
      <a href="/locations/{{ location.id }}/our-team" class="btn btn-primary btn-lg m-b-1">{{ location.name }} Team</a>
    {% endfor %}
  </div>
</div>
