---
title: 'Fullerton: Rates'
position: 99
nav:
  id: ful-rates
  site:
    highlight: workspaces
  side:
    id: fullerton
    highlight: ful-coworking-plans
banner:
  image: "/assets/images/topo-banner-bg.jpg"
  title: Fullerton
  subtitle: 110 E Wilshire Ave, Ste 101, Fullerton, CA
redirect_from: "/locations/fullerton/rates"
---

<h2>All Rates</h2>
<p>Rates vary by coworking plan. Select a plan below to see how it compares to the full rates.</p>

<div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title m-a-0 p-a-0">Full Rates</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-block dropdown">
      <select class="plan-selector m-a-0 p-a-0" style="width: 100%;">
        <option></option>
        {% for plan in site.data.plans %}
          <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-block text-center">
      <strong>Standard Hourly Rates</strong>
    </div>
    <table class="table">
      {% for resource in site.data.rates.fullerton.resources %}
        <tr>
          <th>{{ resource.name }}</th>
          <td class="text-xs-right">{{ site.data.rates.fullerton.plans.full[resource.id] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="card">
    <div class="card-block text-center">
      <strong>Member Hourly Rates</strong>
    </div>
    <table class="table plan-rates plan-rates-empty">
      {% for resource in site.data.rates.fullerton.resources %}
        <tr>
          <th>{{ resource.name }}</th>
          <td class="text-xs-right text-muted">$-.--</td>
        </tr>
      {% endfor %}
    </table>
    {% for plan in site.data.plans %}
      <table class="table plan-rates plan-rates-{{ plan.id }}" style="display: none;">
        {% for resource in site.data.rates.fullerton.resources %}
          <tr>
            <th>{{ resource.name }}</th>
            <td class="text-xs-right">{{ site.data.rates.fullerton.plans[plan.id][resource.id] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
</div>

<p class="mt-4"><a href="/workspaces/fullerton/coworking-plans" class="btn btn-primary">&lsaquo; Coworking Plans</a></p>
