---
layout: page
---

{{ content }}

<div class="card-deck price-plans">
  <div class="card price-plan price-plan-xl">
    <div class="card-block text-center">
      {% include icon.html name="passport" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Wayfarer</h2>
      <p class="card-text">
        <strong>$47/month</strong>
      </p>
      <p class="card-text col-12 col-md-10 offset-md-1">
        Start with our most flexible plan and pay-as-you-go after your included hours. This plan includes your membership and 6 hours of coworking.
      </p>
      <p class="card-text">
        <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card-deck price-plans">
  <div class="card price-plan">
    <div class="card-block text-center">
      {% include icon.html name="compass" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Wanderer</h2>
      <p class="card-text">
        <strong>$158/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>
          Membership<br>
          30 hours of coworking<br>
          1 hour in a meeting room
        </strong>
      </p>
      <p class="card-text">
        <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
  <div class="card price-plan">
    <div class="card-block text-center">
      {% include icon.html name="map-treasure" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Explorer</h2>
      <p class="card-text">
        <strong>$242/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          60 hours of coworking<br>
          2 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card-deck price-plans">
  <div class="card price-plan">
    <div class="card-block text-center">
      {% include icon.html name="back-pack" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Trailblazer</h2>
      <p class="card-text">
        <strong>$314/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          90 hours of coworking<br>
          3 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
  <div class="card price-plan">
    <div class="card-block text-center">
      {% include icon.html name="map-mountain-forest" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Pioneer</h2>
      <p class="card-text">
        <strong>$409/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          160 hours of coworking<br>
          4 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card price-plan price-plan-xl">
  <div class="card-block text-center">
    {% include icon.html name="tent" classes="icon-xl icon-block icon-center" %}
    <h2 class="card-title script text-lowercase">Camper</h2>
    <p class="card-text px-4 col-12 col-md-10 offset-md-1">
      DEDICATED DESKS + OFFICES<br>
      We would love to show you our dedicated offices and desks. <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/contact">Contact us</a> for more information and current availability.
    </p>
  </div>
</div>
<div class="card price-plan price-plan-xl">
  <div class="card-block text-center">
    {% include icon.html name="fire-camp" classes="icon-xl icon-block icon-center" %}
    <h2 class="card-title script text-lowercase">Tribe</h2>
    <p class="card-text px-4 col-12 col-md-10 offset-md-1">
      TEAM PLANS<br>
      Share a coworking package with your team! Each team member simply carries their own membership &amp; shares hours. <a href="/workspaces/{{ page.location | downcase | replace: " ", "-"}}/contact">Contact us</a> for more information.
    </p>
  </div>
</div>
<div class="row my-5">
  <div class="col">
    <h3 class="pb-3 text-center">Contact us with your questions</h3>
    <a href="/workspaces/costa-mesa/contact" class="btn btn-primary btn-lg col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-uppercase">Contact <strong>us</strong></a>
  </div>
</div>
