---
layout: page
---

<div class="row" id="idea-overview">
  <div class="col-12 pb-3">
    <h2 class="underline">Overview</h2>
    {{ content }}
  </div>
  <div class="row">
    {% for benefit in page.benefits %}
      <div class="col-sm-6">
        <div class="card card-benefit mb-4">
          <div class="d-flex flex-row">
            <div class="benefit-icon d-inline-flex">
              {% include icon.html name=benefit.icon classes="icon-xxl" %}
            </div>
            <div>
              <h5 class="card-title mb-1 text-uppercase">{{ benefit.title }}</h5>
              <p class="card-text">{{ benefit.text }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row my-2">
  <div class="col col-md-8 col-lg-6 mx-auto">
    <a href="{{ page.tickets.url }}" class="btn btn-primary btn-lg btn-block text-uppercase">
      {{ page.tickets.text }}
    </a>
  </div>
</div>

<div class="row my-4" id="idea-speakers">
  <div class="col-12 pb-3">
    <h2 class="underline">Speakers</h2>
      <div class="row">
        <div class="col-12">
          <div class="card-deck card-deck-speakers justify-content-center">
            {% for speaker in page.speakers %}
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card card-borderless text-center">
                  <img class="rounded-circle img-fluid p-3 mx-auto" src="{{ speaker.image }}" alt="{{ speaker.first_name}} {{ speaker.last_name}}" data-rjs="2">
                  <div class="card-block">
                    <h4 class="card-title mb-2">{{ speaker.first_name}} {{ speaker.last_name }}</h4>
                    <h6 class="card-subtitle text-uppercase">{{ speaker.title }}, {{ speaker.company }}</h6>
                    <p class="card-text">{{ speaker.text }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row mt-4" id="idea-schedule">
  <div class="col-12 pb-2">
    <h2 class="underline">Schedule</h2>
      <dl class="row mt-4">
        <dt class="col-sm-4">
          <h3 class="text-uppercase">Day One</h3>
          <h4>Friday, May 19</h4>
        </dt>
        <dd class="col-sm-8">
          <p>Intro + Orientation</p>
          <p>Dinner</p>
          <p>Keynote speaker</p>
        </dd>
      </dl>
      <dl class="row mt-4">
        <dt class="col-sm-4">
          <h3 class="text-uppercase">Day Two</h3>
          <h4>Saturday, May 20</h4>
        </dt>
        <dd class="col-sm-8">
          <p>Breakfast</p>
          <p><strong>Mission &amp; Vision:</strong> How do you clearly articulate your why?</p>
          <p><em>Facilitated Q &amp; A</em></p>
          <p><strong>Customer Development:</strong> The why &amp; application behind customer development</p>
          <p><em>Facilitated Q &amp; A</em></p>
          <p>Lunch</p>
          <p><strong>Idea Testing &amp; Measurement:</strong> Process of forming and testing your hypothesis and defining your objectives</p>
          <p><em>Facilitated Q &amp; A</em></p>
          <p><strong>Common Good and Meaningful Impact:</strong> Knowing from the beginning what your social integration will be</p>
          <p><em>Facilitated Q &amp; A</em></p>
          <p>Dinner</p>
          <p>Keynote speakers</p>
        </dd>
      </dl>
      <dl class="row mt-4">
        <dt class="col-sm-4">
          <h3 class="text-uppercase">Day Three</h3>
          <h4>Sunday, May 21</h4>
        </dt>
        <dd class="col-sm-8">
          <p>Lunch</p>
          <p>Action-oriented exercises</p>
          <p>Workbook application</p>
          <p>Introduction to Launch</p>
          <p>Debrief and overview</p>
        </dd>
      </dl>
  </div>
</div>

<div class="row mb-4">
  <div class="col col-md-8 col-lg-6 mx-auto">
    <a href="{{ page.tickets.url }}" class="btn btn-primary btn-lg btn-block text-uppercase">
      {{ page.tickets.text }}
    </a>
  </div>
</div>

<div class="row my-4" id="idea-testimonials">
  <div class="col-12 pb-3">
    <h2 class="underline">Testimonials</h2>
      {% for testimonial in page.testimonials %}
        <div class="row py-3">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img class="rounded-circle img-fluid mx-auto" src="{{ testimonial.image }}" alt="{{ testimonial.first_name}} {{ testimonial.last_name}}" data-rjs="2">
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8">
              <p class="card-text">"{{ testimonial.text }}"</p>
              <h4 class="card-title mb-2">{{ testimonial.first_name}} {{ testimonial.last_name }}</h4>
              <h6 class="card-subtitle text-uppercase">{{ testimonial.title }}, {{ testimonial.company }}</h6>
            </div>
        </div>
      {% endfor %}
  </div>
</div>

<div class="row mt-4" id="idea-pricing">
  <div class="col-12 pb-3">
    <h2 class="underline">Pricing</h2>
      <div class="row mt-4">
        <div class="col-12">
          <div class="card-deck justify-content-center">
            {% for price in page.pricing.prices %}
              <div class="col-sm-6 col-md-4 col-lg-4 px-2">
                <div class="card text-center">
                  <div class="card-block">
                    <h4 class="card-title mb-2">{{ price.dates }}</h4>
                    <h5 class="card-subtitle text-uppercase">{{ price.price }}</h5>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <p class="text-center my-3">*Flexible price plans available. <a href="https://wayfare.typeform.com/to/vn3h2H">Contact us</a></p>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col col-md-8 col-lg-6 mx-auto mb-4">
    <a href="{{ page.tickets.url }}" class="btn btn-primary btn-lg btn-block text-uppercase">
      {{ page.tickets.text }}
    </a>
  </div>
  <div class="col-12 col-lg-8 offset-lg-2 text-center mt-2">
    <h3 class="h1 script">Working on your idea with others?</h3>
    <p class="lead">Sign your team up for Idea Weekend and receive an 50% off discount on enrollment for each added member!<p>
  </div>
</div>
