---
layout: page
---

<h2>{{ page.title }}</h2>
<hr>
<div class="row">
  <div class="col-xs-12 col-lg-7 col-xl-8">
    {{ content }}
  </div>

  <div class="col-xs-12 col-lg-5 col-xl-4">
    <div class="card">
    <table class="table m-b-0">
      <thead>
        <tr>
          <th><h5 class="text-uppercase m-b-0">Pricing</h5></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for price in page.pricing.prices %}
          <tr>
            <th>{{ price.dates }}</th>
            <td class="text-xs-right">{{ price.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="https://wayfare.ticketleap.com/idea-weekend/" class="btn btn-primary btn-lg btn-block m-b-1">Buy Your Ticket</a>
  <small><em>{{ page.pricing.note | markdownify }}</em></small>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-9 col-xl-8">
    <h3 class="p-b-1">Please don't hesitate to contact us with questions</h3>
    <p>
      <a href="/locations/costa-mesa/contact" class="btn btn-lg btn-primary">Contact Us</a>
    </p>
  </div>
</div>
