---
title: 'Costa Mesa: Price Plans'
position: 2
nav:
  id: whq-price-plans
  site:
    highlight: locations
  side:
    id: costa-mesa
    highlight: whq-price-plans
banner:
  image: "/assets/images/topo-banner-bg.jpg"
  title: Costa Mesa
  subtitle: 270 Baker St E, Ste 200, Costa Mesa, CA
---

<h2>Working Together is Important</h2>
<p>We're excited you're here, and we hope to work alongside you soon!</p>

<div class="card-deck price-plans">
  <div class="card price-plan price-plan-xl">
    <div class="card-block text-xs-center">
      {% include icon.html name="passport" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Wayfarer</h2>
      <p class="card-text">
        <strong>$47/month</strong>
      </p>
      <p class="card-text">
        Start with our most flexible plan and pay-as-you-go after your included hours. This plan inludes your membership and 5 hours of coworking.
      </p>
      <p class="card-text">
        <a href="/locations/costa-mesa/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card-deck price-plans">
  <div class="card price-plan">
    <div class="card-block text-xs-center">
      {% include icon.html name="compass" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Wanderer</h2>
      <p class="card-text">
        <strong>$158/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>
          Membership<br>
          30 hours of coworking<br>
          1 hour in a meeting room
        </strong>
      </p>
      <p class="card-text">
        <a href="/locations/costa-mesa/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
  <div class="card price-plan">
    <div class="card-block text-xs-center">
      {% include icon.html name="map-treasure" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Explorer</h2>
      <p class="card-text">
        <strong>$242/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          60 hours of coworking<br>
          2 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/locations/costa-mesa/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card-deck price-plans">
  <div class="card price-plan">
    <div class="card-block text-xs-center">
      {% include icon.html name="back-pack" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Trailblazer</h2>
      <p class="card-text">
        <strong>$314/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          90 hours of coworking<br>
          3 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/locations/costa-mesa/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
  <div class="card price-plan">
    <div class="card-block text-xs-center">
      {% include icon.html name="map-mountain-forest" classes="icon-xl icon-block icon-center" %}
      <h2 class="card-title script text-lowercase">Pioneer</h2>
      <p class="card-text">
        <strong>$409/month</strong>
      </p>
      <p class="card-text">
        Includes:<br>
        <strong>Membership<br>
          160 hours of coworking<br>
          4 hours in a meeting room</strong>
      </p>
      <p class="card-text">
        <a href="/locations/costa-mesa/rates">see full rates</a> |
        <a href="https://wayfare.typeform.com/to/gZ6TKU">sign up now</a>
      </p>
    </div>
  </div>
</div>
<div class="card price-plan price-plan-xl">
  <div class="card-block text-xs-center">
    {% include icon.html name="tent" classes="icon-xl icon-block icon-center" %}
    <h2 class="card-title script text-lowercase">Camper</h2>
    <p class="card-text p-x-2">
      DEDICATED DESKS + OFFICES<br>
      Currently, there no dedicated desks or offices available, but we have a waiting list started. <a href="/locations/costa-mesa/contact">Contact us</a> for more information.
    </p>
  </div>
</div>
<div class="card price-plan price-plan-xl">
  <div class="card-block text-xs-center">
    {% include icon.html name="fire-camp" classes="icon-xl icon-block icon-center" %}
    <h2 class="card-title script text-lowercase">Tribe</h2>
    <p class="card-text p-x-2">
      TEAM PLANS<br>
      Share a coworking package with your team! Each team member simply carries their own membership &amp; shares hours. <a href="/locations/costa-mesa/contact">Contact us</a> for more information.
    </p>
  </div>
</div>
