---
title: "Costa Mesa: Rates"
position: 99
nav:
  id: whq-rates
  site:
    highlight: locations
  side:
    id: costa-mesa
    highlight: whq-price-plans
banner:
  image: /assets/images/topo-banner-bg.jpg
  title: Costa Mesa HQ
  subtitle: 270 Baker St E, Ste 200, Costa Mesa, CA
---

<p><a href="/locations/costa-mesa/price-plans">&lsaquo; Price Plans</a></p>

<h2>All Rates</h2>
<div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title m-a-0 p-a-0">Full Rates</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-block dropdown">
      <select class="plan-selector m-a-0 p-a-0" style="width: 100%;">
        <option></option>
        <option value="wayfarer">Wayfarer</option>
        <option value="wanderer">Wanderer</option>
        <option value="explorer">Explorer</option>
        <option value="trailblazer">Trailblazer</option>
        <option value="pioneer">Pioneer</option>
      </select>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-block text-xs-center">
      <strong>Standard Hourly Rates</strong>
    </div>
    <table class="table">
      {% for resource in site.data.rates.costa_mesa.resources %}
        <tr>
          <th>{{ resource.name }}</th>
          <td class="text-xs-right">{{ site.data.rates.costa_mesa.plans.full[resource.id] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="card">
    <div class="card-block text-xs-center">
      <strong>Member Hourly Rates</strong>
    </div>
    {% for plan in site.data.plans %}
      <table id="plan-rates-{{ plan.id }}" class="table">
        {% for resource in site.data.rates.costa_mesa.resources %}
          <tr>
            <th>{{ resource.name }}</th>
            <td class="text-xs-right">{{ site.data.rates.costa_mesa.plans[plan.id][resource.id] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
</div>
