---
title: 'Costa Mesa: Upcoming Events'
position: 0
location: Costa Mesa
nav:
  id: whq-upcoming-events
  site:
    highlight: locations
  side:
    id: costa-mesa
    highlight: whq-upcoming-events
banner:
  image: "/assets/images/topo-banner-bg.jpg"
  title: Costa Mesa
  subtitle: 270 Baker St E, Ste 200, Costa Mesa, CA
---

<h2 class="underline">Upcoming Events</h2>
{% assign filtered_events = "" | split: "" %}
{% for site_event in site.events %}
  {% capture nowtime %}{{ 'now' | date:'%s' | plus:0 }}{% endcapture %}
  {% capture eventtime %}{{ site_event.dates.end_date | date:'%s' | plus:0 }}{% endcapture %}
  {% if nowtime < eventtime and site_event.published != false and site_event.location == page.location %}
    {% assign filtered_events = filtered_events | push: site_event %}
  {% endif %}
{% endfor %}
<div class="upcoming-events">
  {% if filtered_events.size == 0 %}
    <div class="alert alert-warning" role="alert">
      There aren't any upcoming events. Check back soon for more.
    </div>
  {% endif %}
  {% for event in filtered_events %}
    <div data-href="{{ event.urls.ticket_url }}" class="card card-event">
      <div class="row">
        <div class="col-xs-12 col-lg-5">
          <img data-src="/wayfareio{{ event.images.thumb_image | default:event.images.splash_image }}" class="img-cloud img-fluid m-b-1" data-width="600" data-height="425" data-crop="fill" data-gravity="auto:faces">
        </div>
        <div class="col-xs-12 col-lg-7">
          <h3 class="card-title">{{ event.headline | default:event.title }}</h3>
          <p class="card-text m-b-0">
            <strong>
              {{ event.dates.start_date | date:"%B %e, %Y %l:%M%P" }}
              &mdash;
              {{ event.dates.end_date | date:"%l:%M%P" }}
            </strong>
          </p>
          <p class="card-text">{{ event.content | markdown }}</p>
          <a href="{{ event.urls.ticket_url }}" class="btn btn-md btn-primary">Details &amp; Tickets</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
