.card-event {
  padding: 1rem;
  display: block;
  background: #ffffff;
  // border: $card-border-width solid $card-border-color;
  // border-radius: 0px;
  :hover {
      background: #f6f6f6;
    }
  img {
    padding: 0;
    border-radius: 0px;
  }
}
a:link {
  p.card-text { color: #000000; }
}
