.card.card-hero {
  border: 0;
  > .card-img-overlay {
    display: flex; align-items: center; justify-content: center;
    > .card-block {
      background-color: transparentize(#fff, 0.10); text-align: center; min-width: 70%; flex: none;
      > .card-title { font-size: 2rem; color: #333; font-weight: 900; text-transform: uppercase; margin-bottom: 1rem; }
      > .card-subtitle { color: #333; font-weight: 300; text-transform: uppercase; margin-bottom: 1rem; }
    }
    @include media-breakpoint-only(xs) {
      padding: 0;
      > .card-block {
        @include border-radius($border-radius); padding: 2.3rem 0.5rem; width: 100%;
        > .card-title { font-size: 1.5rem; margin-bottom: 0.75rem; }
        > .card-subtitle { font-size: 1rem; margin-bottom: 0.5rem; }
        .btn { font-size: 0.85rem; padding: 0.25rem 0.5rem; }
      }
    }
  }
}
