.card.card-banner {
  > .card-img { opacity: 0.1; }
  > .card-img-overlay {
    display: flex; padding-top: 0; padding-bottom: 0;
    > .card-block {
      padding: 0;
      > .card-title { font-size: 2rem; color: #333; font-weight: 900; text-transform: uppercase; margin: 0; padding: 0; }
      > .card-subtitle { color: #333; font-weight: 300; text-transform: uppercase; margin-top: 0.5rem; }
    }
    @include media-breakpoint-down(md) {
      > .card-block {
        > .card-subtitle { display: none; }
      }
    }
    @include media-breakpoint-only(xs) {
      > .card-block {
        > .card-title { font-size: 1rem; }
      }
    }
  }
}
