.list-social {
  @include list-unstyled;
  > .list-social-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: $list-inline-padding;
    }
    > .list-social-link {
      width: 1rem; border-bottom: 0;
      &:hover [fill='#000'] { fill: $brand-black; }
    }
  }

  &.list-social-buttons {
    > .list-social-item {
      > .list-social-link {
        background: $brand-black; width: 2.5rem; height: 2.5rem; border-radius: $border-radius;
        display: flex; justify-content: center; align-items: center;
        [fill='#000'] { fill: #fff; }
        &:hover { background: darken($brand-black,8%); }
      }
    }
  }
}
