.card.membership-feature {
  @include make-row(); padding: 0.5rem;
  .card-block { padding: 0.75rem 0.75rem 0.75rem 1.25rem; }
  .membership-feature-img img { @include img-fluid(); }
  @include media-breakpoint-only(xl) {
    .membership-feature-img { @include make-col(3); }
    .card-block { @include make-col(9); }
  }
  @include media-breakpoint-only(lg) {
    .membership-feature-img { @include make-col(4); }
    .card-block { @include make-col(8); }
  }
  @include media-breakpoint-only(md) {
    .card-title { font-size: 1.5rem; }
    .membership-feature-img { @include make-col(6); }
    .card-block { @include make-col(6); }
  }
  @include media-breakpoint-only(sm) {
    .card-title { font-size: 1.25rem; }
    .membership-feature-img { @include make-col(6); }
    .card-block {
      @include make-col(6); font-size: 0.75rem;
      .btn { padding: 0.25rem 0.5rem; }
    }
  }
  @include media-breakpoint-only(xs) {
    border: 0; padding: 1rem;
    .card-title { font-size: 1.75rem; }
    .membership-feature-img { @include make-col(12); }
    .card-block {
      @include make-col(12); padding: 0; padding-top: 1rem; font-size: 1rem;
    }
  }
}
