.nav-mobile {
  position: fixed; right: -15.625rem; width: 15.625rem; background: #f0f0f0; z-index: 10000;
  .nav-mobile-logo { width: 50%; padding: 1rem; display: block; margin-left: auto; margin-right: auto; }
  > ul { margin-bottom: .5rem; }
  > ul > .nav-item {
    padding: 7px 10px; border-bottom: 1px solid #e5e5e5;
    &:first-child { border-top: 1px solid #e5e5e5; }
  }
  > .list-social {
    padding: .125rem .5rem .2rem;
    > .list-social-item {
      margin-bottom: 0; padding-right: 3px;
      [fill='#000'] { fill: lighten($gray-dark,15%); }
    }
  }
}
