.nav-site {
  margin-bottom: 20px; padding: 0.5rem; padding-left: 1rem; padding-right: 0;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }
  > .navbar-brand img {
    position: relative; top: 10px;
    @include media-breakpoint-only(xs) {
      width: 100px; height: 63px;
    }
    @include media-breakpoint-only(sm) {
      width: 120px; height: 76px;
    }
    @include media-breakpoint-only(md) {
      width: 120px; height: 76px;
    }
    @include media-breakpoint-only(lg) {
      width: 160px; height: 101px;
    }
    @include media-breakpoint-only(xl) {
      width: 200px; height: 127px;
    }
  }
  > .navbar-nav {
    position: relative;
    @include media-breakpoint-only(xs) {
      display: none;
    }
    @include media-breakpoint-only(sm) {
      display: none;
    }
    @include media-breakpoint-only(md) {
      top: 20px;
    }
    @include media-breakpoint-only(lg) {
      top: 16px;
    }
    @include media-breakpoint-only(xl) {
      top: 26px;
    }
  }
  > .navbar-nav .nav-item {
    margin-left: 0;
    @include media-breakpoint-only(md) {
      margin-left: 0.5rem;
    }
    @include media-breakpoint-only(lg) {
      margin-left: 2rem;
    }
    @include media-breakpoint-only(xl) {
      margin-left: 3.3rem;
    }
  }
  > .navbar-nav .nav-item+.nav-item {
    margin-left: 1rem;
    @include media-breakpoint-only(md) {
      margin-left: 0.2rem;
    }
    @include media-breakpoint-only(lg) {
      margin-left: 1rem;
    }
    @include media-breakpoint-only(xl) {
      margin-left: 1.75rem;
    }
  }
  > .navbar-nav .nav-link {
    font-family: "brandon-grotesque", sans-serif; text-transform: uppercase;
    @include media-breakpoint-only(sm) {
      font-size: 0.6rem;
    }
    @include media-breakpoint-only(md) {
      font-size: 0.95rem;
    }
    @include media-breakpoint-only(lg) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-only(xl) {
      font-size: 1.3rem;
    }
  }
  > .navbar-toggler {
    padding: 0; border: 0 !important; outline: 0 !important; right: 0 !important; cursor: pointer;
    &:active { color: $gray-dark; }
    @include media-breakpoint-only(xs) {
      margin-top: 30px;
    }
    @include media-breakpoint-only(sm) {
      margin-top: 40px;
    }
  }
}

.nav-site-social .list-social {
  border: 1.5px dotted $gray-light; border-radius: 2px;
  padding: 1.5rem .5rem .2rem;
  margin-top: -1rem; margin-right: 0rem;
  > .list-social-item {
    margin-bottom: 0; padding-right: 3px;
    .list-social-link {
      [fill='#000'] { fill: darken($gray-light, 10%); }
      &:hover [fill='#000'] { fill: $brand-primary; }
    }
  }
}

.site-nav-push { position: relative; }
