.site-nav {
  > .navbar-brand img {
    width: 120px;
    @include media-breakpoint-up(xl) {
      width: 200px;
    }
  }
  > .navbar-nav {
    position: relative; top: 40px;
  }
  > .navbar-nav .nav-item {
    margin-left: 0;
    @include media-breakpoint-up(xl) {
      margin-left: 2rem;
    }
  }
  > .navbar-nav .nav-item+.nav-item {
    margin-left: 1rem;
    @include media-breakpoint-up(xl) {
      margin-left: 3rem;
    }
  }
  > .navbar-nav .nav-link {
    font-family: "brandon-grotesque";
    @include media-breakpoint-up(sm) {
      font-size: 0.6rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 0.9rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.3rem;
    }
  }
}
