.story {
  > .story-title { margin-top: 2rem; margin-bottom: 1.5rem; }
  > .story-text {
    img { @include img-fluid(); @include border-radius($border-radius-lg); margin-top: 1rem; margin-bottom: 1rem; }
    blockquote {
      padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; border-left: 0.25rem solid $gray-lighter; font-style: italic;
      p:last-child { margin-bottom: 0; }
    }
  }
  > .story-footer {
    border-top: 1px solid $gray-lighter; padding-top: 1rem; margin-top: 2rem;
    .name { margin-top: 1rem; margin-bottom: 0; }
    .title { margin-bottom: 1rem; }
  }
}
