@import "tether/dist/css/tether";

$enable-transitions: true;
$brand-primary: #E3DFD1;
$brand-primary-dark: #D0BF95;
$brand-secondary: #C9A526;
$brand-tertiary: #224288;
$brand-black: #231F20;
$gray-light: #C2C8CD;
$gray-dark: #7F7D7E;
$body-color: $brand-black;
$link-color: $brand-black;
$link-hover-color: $link-color;
$link-hover-decoration: none;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$font-family-serif: "Playfair Display", Georgia, "Times New Roman", Times, serif;
$headings-font-family: $font-family-serif;
$headings-line-height: 1.3;
@import "bootstrap/scss/bootstrap";

$fa-font-path: "/assets/fonts";
@import "font-awesome/css/font-awesome";
@import "select2/dist/css/select2";
@import "fotorama/fotorama";
@import "fixes";
@import "buttons";
@import "fonts";
@import "helpers";
@import "icons";
@import "links";
@import "typography";
@import "pagination";
