@import "tether/dist/css/tether";

$enable-transitions: true;
$brand-primary: #76B5D0;
$brand-secondary: #A4D2CE;
$brand-tertiary: #F0D119;
$gray-light: #C2C8CD;
$gray-dark: #565D65;
$btn-secondary-color: #fff !default;
$btn-secondary-bg: $brand-secondary !default;
$btn-secondary-border: $brand-secondary !default;
$link-color: $brand-primary;
$link-hover-color: $link-color;
$link-hover-decoration: none;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$headings-font-family: "brandon-grotesque";
@import "bootstrap/scss/bootstrap";

$fa-font-path: "/assets/fonts";
@import "font-awesome/css/font-awesome";

@import "select2/dist/css/select2";
@import "fotorama/fotorama";

@import "fixes";
@import "buttons";
@import "fonts";
@import "helpers";
@import "icons";
@import "links";
@import "typography";
@import "pagination";
