@import "tether/dist/css/tether";

$enable-flex: true;
$enable-transitions: true;
$brand-primary: #108b6f;
$link-color: $brand-primary;
$link-hover-color: $link-color;
$link-hover-decoration: none;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$headings-font-family: "brandon-grotesque";
@import "bootstrap/scss/bootstrap";

$fa-font-path: "/assets/fonts";
@import "font-awesome/css/font-awesome";

@import "fonts";
@import "helpers";
@import "icons";
@import "links";
@import "typography";
