.btn {
  font-family: $btn-font-family, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.btn-white { background: white; }
  &.btn-primary:focus { color: white; }

}
.gather-lead-button.btn.btn-primary {
  color: white;
  &:hover { color: white; }
}
