.icon  {
  display: inline-flex;

  &.icon-block { display: flex; }
  &.icon-center svg { margin: 0 auto; }

  svg { width: 2.5rem; height: 2.5rem; }
  &.icon-xs svg { width: 1.5rem; height: 1.5rem; }
  &.icon-sm svg { width: 2rem; height: 2rem; }
  &.icon-md svg { width: 2.5rem; height: 2.5rem; }
  &.icon-lg svg { width: 3rem; height: 3rem; }
  &.icon-xl svg { width: 4rem; height: 4rem; }

  [data-stroke-color='1'] { stroke: $gray-light; }
  [data-fill-color='1'] { fill: $gray-light; }
  [data-stroke-color='2'] { stroke: $brand-primary; }
  [data-fill-color='2'] { fill: $brand-primary; }

  &.icon-xl.icon-computer-desk { position: relative; top: -9px; }
}
