.content {
  a {
    cursor: pointer; border-bottom: 2px dotted $gray-light; display: inline-block;
    &.active, &:hover { border-bottom: 2px solid $brand-tertiary; }
    &.btn {
      border-bottom: 0;
      &.active, &:hover { border-bottom: 0; }
    }
  }
  .lead a {
    border-bottom-color: $brand-tertiary; border-bottom-style: solid;
  }
}

[data-href] { cursor: pointer; }
