h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $brand-primary;
  &.underline {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: .75rem;
  }
}
h5, .h5 { padding-top: .5rem; line-height: 1.5rem; }
.script { font-family: 'SocietyEditor'; }
