h1, h2, .h1, .h2 {
  font-family: $headings-lg-font-family;
  &.underline {
    border-bottom: 1px solid $brand-black;
    padding-bottom: .75rem;
  }
}
h3, h4, h5, h6, .h3, .h4, .h5, .h6, {
  font-family: $headings-sm-font-family;
  text-transform: uppercase;
  &.underline {
    border-bottom: 1px solid $brand-black;
    padding-bottom: .75rem;
  }
}
.script { font-family: 'SocietyEditor'; }
.playfair { font-family: $font-family-serif, serif; }
blockquote p { font-family: $font-family-serif, serif; }
dl dt { font-family: $font-family-sans-serif; }
