<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include typekit.html %}
    {% if page.meta.description %}
      <meta name="description" content="{{ page.meta.description }}">
    {% elsif page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
    {% endif %}
    {% if page.meta.keywords %}
      <meta name="keywords" content="{{ page.meta.keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <title>
      {% if page.custom_title %}
        {{ page.custom_title }}
      {% elsif page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    {% include ga.html %}
    <script src="/assets/javascripts/public.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/public.css">
    {% if page.map %}
      <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
      <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>
      <script type="text/javascript">
        L.mapbox.accessToken = 'pk.eyJ1Ijoid2F5ZmFyZSIsImEiOiJQVG5NQS0wIn0.fgKjbGJFALHxSY9AQTztEw';
      </script>
    {% endif %}
  </head>
  <body>
    <a id="top"></a>
    {{ content }}
    {% include clicky.html %}
  </body>
</html>
