<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include typekit.html %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <script src="/assets/javascripts/public.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/public.css">
  </head>
  <body>
    <a id="top"></a>
    {{ content }}
  </body>
</html>
