---
layout: page
---

{% for post in site.categories.[page.category] %}
  <div class="card card-story-excerpt">
    <div class="card-block">
      <h3 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="card-text">{{ post.excerpt | markdownify | strip_html | strip | newline_to_br }}</p>
      {% assign author = site.authors | where:"title",post.author | sample %}
      <p class="card-text text-muted">
        <em><small>
          by <strong>{{ author.title }}</strong>
          on <strong>{{ post.date | date:"%B %e, %Y" }}</strong>
        </small></em>
      </p>
    </div>
  </div>
{% endfor %}
