---
layout: page
---

<div class="row">
  <div class="col-xs-12">
    <div class="row p-b-2">
      {% if page.bio_image %}
        <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 p-b-1 flex-items-xs-center">
          <img class="img-circle img-fluid" src="{{ page.bio_image }}" alt="{{ page.title }}: {{ page.job_title }}" data-rjs="2">
        </div>
        <div class="col-xs-12 col-md-8 col-lg-8 col-xs-9">
      {% else %}
        <div class="col-xs-12">
      {% endif %}
        <h2>{{ page.title }}</h2>
        <h5>
          {{ page.job_title }}
          {% if page.fun_title %}
            <em>&#43; {{ page.fun_title }}</em>
          {% endif %}
        </h5>
        {{ content }}
      </div>
    </div>
  </div>
</div>
