---
layout: site
---

<div class="container">
  {% if page.hero %}
    <div class="row">
      <div class="col-xs-12">
        {% include page-hero.html %}
      </div>
    </div>
  {% endif %}
  {% if page.nav.side %}
    <div class="row">
      <div class="col-xs-3">
        {% include nav-side.html %}
      </div>
      <div class="col-xs-9">
        {{ content }}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-xs-12">
        {{ content }}
      </div>
    </div>
  {% endif %}
</div>
