---
layout: page
---

<div class="row">
  <div class="col-12">
    <div class="row pb-4">
      <div class="col-12 col-md-4 col-lg-4 col-xl-3 pb-3 justify-content-center">
        {% if page.bio_image %}
          <img class="rounded-circle img-fluid" src="{{ page.bio_image }}" alt="{{ page.title }}: {{ page.job_title }}" data-rjs="2">
        {% else %}
          <img class="rounded-circle img-fluid" src="/assets/images/person.png" alt="{{ page.title }}: {{ page.job_title }}" data-rjs="2">
        {% endif %}
      </div>
      <div class="col-12 col-md-8 col-lg-8 col-9">
        <h2>{{ page.title }}</h2>
        <h5>
          {{ page.job_title }}
          {% if page.fun_title %}
            <em>&#43; {{ page.fun_title }}</em>
          {% endif %}
        </h5>
        {{ content }}
      </div>
    </div>
  </div>
</div>
